.groceries-container {
  width: 100%;
  /* max-width: 390px; */
  height: 100vh;

  display: flex;
  flex-direction: column;

  background: var(--color-bg);
}

/* scroll area */
.groceries-content {
  flex: 1;
  overflow-y: auto;

  padding: var(--spacing-xl);

  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
}

/* unified scrollbar */
.groceries-content::-webkit-scrollbar {
  width: 6px;
}

.groceries-content::-webkit-scrollbar-thumb {
  background: var(--color-border);
  border-radius: 4px;
}
