#root {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.app-layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--color-background);
}

.app-content {
  flex: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 90px;
  scroll-behavior: smooth;
}

.app-content::-webkit-scrollbar {
  width: 0px;
}
